# Virtual Environment
.venv/
venv/
env/

# Ignore specific files
*.png
index.html

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
